<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" href="D:\CRUDAPP\src\main\resources\template\static\css\style.css">
</head>
<body>
<h1>Book List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
        <td>
            <a th:href="@{/delete/{name}(name=${book.name})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<h2>Add New Book</h2>
<form th:action="@{/addBook}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br>
    <label for="author">Author:</label>
    <input type="text" id="author" name="author"><br>
    <button type="submit">Add Book</button>
</form>
</body>
</html>
